<h1>You've been invited</h1>
<% if @custom_message.present? %>
  <p><%= @custom_message.gsub('%{invite_url}', @accept_url) %></p>
<% else %>
  <p>Click the link below to create your account:</p>
<% end %>
<p><%= link_to "Accept Invitation", @accept_url %></p>
