<h1>You've been invited</h1>
<p>You've been invited to create an account. Click the link below to accept your invitation and set your password:</p>
<p><%= link_to "Accept Invitation", @accept_url %></p>
<p>This invitation expires in 7 days. If you did not expect this, you can safely ignore this email.</p>
