<div class="mb-4 flex items-center gap-2">
  <%= form.check_box field.key, class: "rounded border-rsb-border text-rsb-primary focus:ring-rsb-primary" %>
  <label class="text-sm font-medium">
    <%= rsb_admin_field_label(field, resource_key: resource_key) %>
  </label>
</div>
